<div class="center">
    <!-- lifecycle hooks example -->
    <input type="text" placeholder="Search" (input)="searchEmployees()" [(ngModel)]="searchString">

    <!-- rxjs example -->
    <!-- <input type="text" placeholder="Search" id="search"> -->
    <app-child-page [fetchdata]="filteredEmployees"></app-child-page>


    <!-- ng-content value goes from here -->
    <app-child-page>
        <!-- ng-content details -->
        <div *ngFor="let data of filteredEmployees">
            {{ data.name }}
        </div>

    </app-child-page>
</div>